*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{ background:rgb(0, 0, 0); }

/* ================= LOADER ================= */
#loaderOverlay{
  position:fixed;inset:0;background:rgb(255, 255, 255);
  display:flex;justify-content:center;align-items:center;
  flex-direction:column;z-index:9999;
  transition:1s;
}
.logoRow{display:flex;gap:40px;margin-bottom:20px}
.loader{position:relative;width:80px;height:80px}
.loader svg{width:100%;height:100%}
.loader path,.loader circle{
  fill:none;stroke:rgb(0, 0, 0);stroke-width:6px;
  stroke-dasharray:220;stroke-dashoffset:220;
  animation:draw 1.4s linear infinite;
}
.dot{
  position:absolute;width:8px;height:8px;
  background:#002b5c;border-radius:50%;
  animation:follow 1.4s linear infinite;
}
.loadingText{
  color:white;font-size:22px;letter-spacing:4px;
  animation:fadeText 1.5s infinite;
}
@keyframes draw{to{stroke-dashoffset:0}}
@keyframes follow{
  0%{transform:translate(10px,70px)}
  33%{transform:translate(40px,20px)}
  66%{transform:translate(70px,70px)}
  100%{transform:translate(10px,70px)}
}
@keyframes fadeText{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
#loaderOverlay.zoomOut{
  opacity:0;
  pointer-events:none;
}

/* ================= APP ================= */
.app{
  width:100%;
  min-height:100vh;
  display:flex;
}

/* IZQUIERDA */
.left{
  width:55%;
  position:relative;
  overflow:hidden;
}
.left img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* ===== CONTENEDOR SOCIAL ===== */
.social-glass{
  position:absolute;
  bottom:30px;
  left:50%;
  transform:translateX(-50%);
  background:rgba(0, 0, 0, 0.75);
  border-radius:30px;
  padding:14px 20px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.social-container{
  display:flex;
  gap:18px;
}

.social-card{
  position: relative;
  width:48px;
  height:48px;
  background:#f1f1f1;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  cursor:pointer;
  transition:all .25s ease;
  transform: scale(.9);
}

.social-card i{
  font-size:20px;
  color:#000;
}

.tooltip{
  position:absolute;
  top:-42px;
  background:#000000;
  color:#fff;
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  opacity:0;
  pointer-events:none;
  transition:.25s;
  white-space:nowrap;
}
.tooltip::after{
  content:"";
  position:absolute;
  bottom:-6px;
  left:50%;
  transform:translateX(-50%);
  border-width:6px 6px 0;
  border-style:solid;
  border-color:#000000 transparent transparent;
}

.social-card:hover{
  transform: scale(1.1);
}
.social-card:hover .tooltip{opacity:1;top:-52px}
/* Filtro pro para móviles */
@media (hover: hover) {
  .social-card:hover{
    transform: scale(1.1);
  }
}

.facebook:hover{background:#1877f2}
.facebook:hover i{color:white}

.tiktok:hover{background:black}
.tiktok:hover i{color:white}

.instagram:hover{background:#e1306c}
.instagram:hover i{color:white}

.whatsapp:hover{background:#25d366}
.whatsapp:hover i{color:white}

/* DERECHA */
.right{
  width:45%;
  background:black;
  color:rgb(255, 255, 255);
  padding:50px 40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* PROGRESO */
.progress{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}
.circle{
  width:14px;
  height:14px;
  border-radius:50%;
  border:2px solid white;
  background:transparent;
  transition:.3s;
}

.circle.done{
  background:#002b5c;
  border-color:#002b5c;
  box-shadow:0 0 8px #002b5c;
}

.right h1{
  margin-bottom:10px;
  color:white !important;
}
.right p{
  color:#ccc !important;
}
.subtitle{ color:#ccc; margin-bottom:30px; }
.question{ font-size:20px; margin-bottom:20px; }

.scale{
  display:grid;
  grid-template-columns:repeat(11,1fr);
  gap:10px;
  margin-bottom:10px;
}
.scale input{display:none}
.scale label{
  padding:12px 0;
  border:1px solid #777;
  border-radius:10px;
  text-align:center;
  cursor:pointer;
  transition:.3s;
}
.scale label:hover{
  background:#002b5c;
  color:white;
}
.scale input:checked + label{
  background:#002b5c;
  color:white;
  font-weight:700;
}

textarea{
  width:100%;
  background:transparent;
  border:none;
  border-bottom:2px solid #273580;
  color:white;
  padding:10px;
  resize:none;
  margin-bottom:30px;
}

.btn{
  padding:14px;
  background:#ffffff;
  color:black;
  border:none;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
}

.send-btn{ 
  width:240px;
  height:50px;
  border:2px solid white;
  color:white;
  background:transparent;
  letter-spacing:2px;
  cursor:pointer;
  position:relative;
  overflow:hidden;
}

.send-btn span{
  position:relative;
  z-index:2;
}

.send-btn::after{
  content:"";
  position:absolute;
  inset:0;
  width:0;
  background:#002b5c;
  transition:.35s;
}

.send-btn:hover::after{
  width:100%;
}
@media(max-width:900px){
  .app{flex-direction:column;}
  .left,.right{width:100%}
}

/* INPUT LINEA PREMIUM */
.text-line{
  width:100%;
  margin:2px 0;
}

.text-line textarea{
  width:100%;
  background:transparent;
  border:none;
  border-bottom:2px solid white;
  color:white;
  font-size:16px;
  padding:10px 4px;
  resize:none;
  outline:none;
  transition:.35s;
}

.text-line textarea:hover{
  border-bottom:2px solid #002b5c;
}

.text-line textarea:focus{
  border-bottom:2px solid #002b5c;
  box-shadow:0 2px 14px #002b5ccb;
}
#value{
  margin-top:15px;
  margin-bottom: 40px;
}
/* ===== SOLO PANTALLA DE AGRADECIMIENTO ===== */

.agradecimiento h1{
  margin-top: -10px;   /* sube el título */
  margin-bottom: 25px;
}

.mensaje-final{
  line-height: 1.6;    /* separa líneas */
  margin-bottom: 50px; /* espacio antes del botón */
}

.agradecimiento .send-btn{
  margin-top: 40px;    /* baja un poco el botón */
}
/* ===== MENSAJE YA REALIZADO ===== */

.mensaje-bloqueado h1{
  margin-top: -15px;   /* lo sube */
  margin-bottom: 25px;
}

.texto-bloqueado{
  line-height: 1.9;    /* separa las líneas */
  font-size: 15px;
}
.subir-agradecimiento{
  transform: translateY(-40px);
  transition: 0.6s ease;
}

.mensaje-exito{
  margin-top: 30px;
  text-align: center;
  animation: fadeIn 0.6s ease forwards;
}

.mensaje-exito h2{
  font-size: 26px;
  color: #00c853;
  margin-top: 15px;
}

.check-container{
  display:flex;
  justify-content:center;
}

.checkmark{
  width:70px;
  height:70px;
  stroke:#00c853;
  stroke-width:3;
}

.checkmark__circle{
  stroke-dasharray:157;
  stroke-dashoffset:157;
  animation: strokeCircle 0.6s ease forwards;
}

.checkmark__check{
  stroke-dasharray:48;
  stroke-dashoffset:48;
  animation: strokeCheck 0.4s 0.6s ease forwards;
}

@keyframes strokeCircle{
  to{stroke-dashoffset:0;}
}

@keyframes strokeCheck{
  to{stroke-dashoffset:0;}
}

@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}
.opcional{
  color:#9e9e9e;
  font-size:13px;
  margin-left:6px;
  font-style: italic;
}
#questionText{
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 10px;
}

#textQuestion{
  font-size: 15px;
  line-height: 1.5;
}

@media (max-width: 768px){

.app{
    flex-direction: column;
    height: auto; /* MUY IMPORTANTE */
  }

  .left{
    width: 100%;
    height: 220px;
  }

  .right{
    width: 100%;
    padding: 25px;
  }

}
@media (max-width: 768px){

  #questionText{
    font-size: 15px;
  }

  #textQuestion{
    font-size: 14px;
  }

  .scale label{
    padding:8px 0;
    font-size:14px;
  }

}